.main-footer {
    color: white;
    background-color: black;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .itech-logo{
      text-align: left;
  }
  .ssipmt_logo{
      text-align: right;
      margin-left: 860px;
  }
  .quote{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19;
    font-style: italic;
    text-align: left;
  }
  .social{
    margin-right: 10px;
  }
  .col-sm{
    font-family: 'Ubuntu', sans-serif;
  }